numpy
pandas
gdown
jupyter
jupyterlab
ipywidgets
keras
matplotlib
matplotlib-inline
matplotlib-venn

# For images
Pillow 
scikit-learn
scikit-image

# For plots
scipy
seaborn
tensorflow
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
tensorflow
xgboost # BDT
imblearn #SMOTE
collection #Counter
importlib # to load customized libraries
shutil #to copy files
hep_ml #scikit-hep
ipython
joblib

# Root with Numpy and pandas
uproot
zstandard
